/* IMPOSTAZIONI GENERALI */

#lezioni, #steps, #why {
  text-align: center;
}

/* BLOCCO LEZIONI */

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* BLOCCO PERCHE */

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
}

/* COMMON */

.grey {
  background-color: #f9f9f9;
}

/* VERSIONE DESKTOP */

@media all and (min-width: 993px) {

  /* IMPOSTAZIONI GENERALI */

  .container {
    width: 992px;
    margin-top: 100px;
  }

  /* BLOCCO PERCHE */

  #why .rov>.col_lg_12 {
    margin-top: 80px;
  }

  #why .row img {
    padding: 30px;
  }

  /* COMMON */

  img {
    height: 200px;
  }

}

/* VERSIONE TABLET */

@media all and (min-width: 769px) and (max-width: 992px) {

  /* IMPOSTAZIONI GENERALI */

  .container {
    width: 100%;
    margin-top: 50px;
  }

  /* BLOCCO LEZIONI */

  #lezioni .row img {
    max-width: 100%;
  }

  /* BLOCCO STEPS */

  #steps .row> .col_md_4 {
    margin-bottom: 50px;
  }

  #steps .row> .col_md_4:last-child {
    margin-bottom: 0;
  }

  /* BLOCCO PERCHE */

  #why .row> .col_md_10 {
    margin-top: 50px;
  }

  #why .row img {
    padding: 22.5px;
  }

  /* COMMON */

  img {
    height: 150px;
  }

}

/* VERSIONE SMART */

@media all and (max-width: 768px) {

  .container {
    width: 100%;
    margin-top: 20px;
  }

  /* BLOCCO LEZIONI */

  #lezioni .row> .col_xs_8 {
    margin-bottom: 50px;
  }

  /* BLOCCO STEPS */

  #steps .row> .col_xs_8 {
    margin-bottom: 50px;
  }

  #steps .row> .col_xs_8:last-child {
    margin-bottom: 0;
  }

  /* BLOCCO PERCHE */

  #why .container {
    margin-top: 70px;
  }

  #why .row> .col_xs_8 {
    margin-top: 40px;
  }

  #why .row img {
    padding: 15px;
  }

  /* COMMON */

  img {
    max-width: 100%;
    max-height: 100px;
  }

}
